@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply bg-gray-100 dark:bg-gray-800;
}

.Caption {
  @apply text-center text-gray-500 dark:text-white;
}

.Container {
  @media screen and (max-width: theme("screens.md")) {
    @apply mb-bs mx-bs;
  }
}

.Note {
  @apply dark:text-white border border-gray-300 dark:border-white;
  @apply bg-white dark:bg-black cursor-pointer mb-bs;
  @apply rounded-xs transition duration-300;

  &:hover {
    @apply drop-shadow-md;

    > .Note-actions {
      @media screen and (min-width: theme("screens.lg")) {
        @apply opacity-100 visible;
      }
    }
  }

  &-column {
    @apply bg-clip-padding;

    padding-left: 16px;
  }

  &-title {
    @apply font-semibold text-base px-bs pb-xs pt-sm;
  }

  &-content {
    @apply text-sm px-bs py-xs;
  }

  &-actions {
    @apply flex;

    @media screen and (min-width: theme("screens.lg")) {
      @apply invisible opacity-0 transition-all duration-300;
    }
  }

  &-action {
    @apply font-semibold text-gray-500 dark:text-white px-bs py-xs;
    @apply w-full text-xs transition duration-300;

    -webkit-tap-highlight-color: transparent;

    &:first-child {
      @apply rounded-bl-xs;
    }

    &:last-child {
      @apply rounded-br-xs;
    }

    &:hover {
      @apply bg-gray-200 dark:bg-gray-900;
    }
  }

  &-createdAt {
    @apply block mt-bs text-gray-500 dark:text-gray-300 text-right text-xs;
  }

  &.is-readOnly {
    &:hover {
      @apply drop-shadow-none;
    }
  }
}

.Notes {
  @apply flex w-auto;

  margin-left: -16px;
}

.Link {
  @apply cursor-pointer text-ruby-500 text-xs;

  -webkit-tap-highlight-color: transparent;

  &:active,
  &:focus {
    @apply text-ruby-200;
  }
}

@import "sweetalert2/src/sweetalert2";
